// Bootstrap variables
// $enable-rounded: false;
$yellow: #ffcd00; // header
$green: #22b14c; // "Buscar" button
$blue: #1990df; // "Melhor preço" label
$body-bg: #f2f2f2;
$faded: #757575; // text around price

// Bootstrap itself
@import 'bootstrap/scss/bootstrap';

// Media queries
// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(xs) {
}
// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(sm) {
}
// Large devices (desktops, 992px and up)
@include media-breakpoint-up(md) {
}
// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-up(lg) {
}
// You got it
@include media-breakpoint-up(xl) {
}
// Other way of doing it
@include media-breakpoint-between(md, xl) {
}

//
.bg-yellow {
  background-color: $yellow;
}
.product {
  max-height: 480px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 0.5em;
  padding: 30px 20px;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.1);

  img {
    max-height: 400px;
  }
  .title {
    font-size: $h4-font-size;
  }
}
.mini {
  max-width: 100px;
  max-height: 100px;
  height: 100px;
  width: 100px;
  background: transparent;
  display: block;
  margin: 0 0 0.4rem;

  &.hightlight {
    border-color: $yellow;
  }
  img {
    max-width: 80%;
    max-height: 80%;
  }
}
.img-thumbnail {
  background: transparent;
  border-color: #f2f2f2;
  border-width: 2px;
}
.badge {
  @extend .text-uppercase;
}
.product-price {
  color: $faded;
  font-size: $font-size-lg;
}
.price {
  font-weight: bold;
  color: $green;
}
