// Bootstrap variables
$enable-rounded: false;
$yellow: #ffcd00; // header
$green: #22b14c; // "Buscar" button
$blue: #1990df; // "Melhor preço" label

// Bootstrap itself
@import 'bootstrap/scss/bootstrap';
